<mat-card>
  <mat-card-header>
    <mat-card-title>
      Course Outline
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <!-- LESSON LIST -->
    <mat-list>
      <mat-list-item *ngFor="let course of courseLessons" 
        (click)="selectLesson(course)">
          <h3>{{ course.title }}</h3>
      </mat-list-item>
    </mat-list>
    
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-header>
    <mat-card-title>DEBUG</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <span *ngIf="currentLesson; else elseBlock">{{ currentLesson | json }}</span>
    <ng-template #elseBlock>Select a lesson</ng-template>
  </mat-card-content>
</mat-card>